{% extends 'core/base.html' %}
{% load static %}
{% block content %}
	<div class="main-container" style="padding: 100px;">
		<div class="pd-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="pd-30 card-box mb-30 text-center" style="min-height: 50vh;">
					<p style="font-size: 28px; margin-top: 50px;" class="text-center">Password Changed Successfully</p>
					<a href="{% url 'index' %}" class="btn btn-primary text-center w-25">Visit Dashboard</a>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}