{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<body class="login-page">
	<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-lg-7">
					<img src="{% static 'vendors/images/login-page-img.png' %}" style="background-color: #ecf0f4;" alt="">
				</div>
				<div class="col-md-6 col-lg-5">
					<div class="login-box bg-white box-shadow border-radius-10">
						<div class="login-title">
							<h2 class="text-center text-primary">Forgot/Reset Password</h2>
						</div>
						<form method="POST">
							{% csrf_token %}
							<div class="input-group custom">
								<input type="email" class="form-control form-control-lg" name="email" autocomplete="email" maxlength="254" placeholder="Email Address" required id="id_email">
								<div class="input-group-append custom">
									<span class="input-group-text"><i class="micon icon-copy ion-android-mail"></i></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="input-group mb-0">
										<a href="{% url 'index' %}" class="btn btn-primary btn-lg mr-3" style="width: 30%">Go Back</a>
										<input type="submit" class="btn btn-primary btn-lg ml-3" style="width: 60%">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}