{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'core/mainbars.html' %}
<style>
	.select2-search--dropdown {
    display: none;
}
</style>
	<div class="main-container">
				<!-- Form grid Start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix mb-30">
						<div class="pull-left">
							<h4 class="text-blue h4">Create a New User</h4>
						</div>
						<div class="pull-right">
							<a href="{% url 'users' %}" class="btn btn-primary btn-sm"><i class="fa fa-people"></i> View Users</a>
						</div>
					</div>
					<form method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="text" name="email" placeholder="Email Address" class="form-control">
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="text" name="telephone" placeholder="Telephone" class="form-control">
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="form-group">
									<input type="text" name="firstname" placeholder="Firstname" class="form-control">
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="form-group">
									<input type="text" name="lastname" placeholder="Lastname" class="form-control">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<select class="custom-select2 form-control" name="usertype" style="width: 100%; height: 38px;">
										<optgroup label="Select User Type">
											<option value="M" name="is_manager">Manager</option>
											<option value="A" name="is_admin">Admin</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<textarea name="address" placeholder="Address" class="form-control"></textarea>
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group">
									<input type="text" name="zipcode" placeholder="Zipcode" class="form-control">
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group">
									<input type="text" name="city" placeholder="City" class="form-control">
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group">
									<input type="text" name="region" placeholder="Region" class="form-control">
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group">
									<input type="text" name="country" placeholder="Country" class="form-control">
								</div>
							</div>
<!-- 							<div class="col-md-12 col-sm-12 mb-20">
								<div class="custom-file">
									<input type="file" class="custom-file-input">
									<label class="custom-file-label">Select User Image</label>
								</div>
							</div> -->
						</div>
						<button type="submit" class="btn btn-primary">Create User</button>
					</form>
				</div>
				<!-- Form grid End -->
	</div>
{% endblock %}