{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/mainbars.html' %}
<div class="main-container">
	{% include 'core/info_messages.html' %}
	<div class="pd-ltr-20">
		<div class="card-box pd-20 height-100-p mb-30">
		<div class="clearfix mb-20">
			<div class="pull-left">
				<h4 class="text-blue h3">My Stations</h4>
			</div>
		</div>
			<div class="row align-items-center">
				<h4 class="text-blue text-center"></h4>
				<canvas id="myChart" width="400" height="100"></canvas>
				<div class="container text-center pt-4 pb-2 row">
					<div class="col-md-6">
						<form class="form-group" id="form">
							<input class="form-control" type="month" id="start" name="start" value="{{present_month}}" required/>
							<input type="submit" class="btn btn-primary form-control" value="Go">
						</form>
					</div>
					<!-- {{present_month}} -->
					<div class="col-md-6">
						<a href="?chart_type=daily"><button class="btn btn-primary">Daily</button></a>
						<a href="?chart_type=monthly"><button class="btn btn-warning">Monthly</button></a>
						<a href="?chart_type=yearly"><button class="btn btn-secondary">Yearly</button></a>
					</div> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6 mb-30">
		<div class="pd-20 card-box mb-30">
		<div class="clearfix mb-20">
			<div class="pull-left">
				<h4 class="text-blue h4">Error Reports</h4>
			</div>
			<div class="pull-right">
				<a href="{% url 'errors' %}" class="btn btn-primary btn-sm"> View all &nbsp;<i class="fa fa-arrow-right"></i></a>
			</div>
		</div>
			<table class="data-table table nowrap">
				<thead>
					<tr>
						<th>NO</th>
						<th>CODE</th>
						<th>DATE</th>
						<th>STATUS</th>
						<th>FILE</th>
					</tr>
				</thead>
				<tbody>
					{% for error in errors %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{error.code}}</td>
						<td>{{error.created_at|date:"M d, Y"}}</td>
						<td>
							{% if error.status == "unsolved" %}
								<span style="padding: 7px 12px;" class="alert alert-danger">UNSOLVED</span>
							{% else %}
								<span style="padding: 7px 12px;" class="alert alert-success">SOLVED</span>
							{% endif %}
						</td>
						<td><a href="/media/{{error.file}}" target="_blank"><i style="font-size: 22px;" class="icon-copy dw dw-file-154"></i></a></td>
					</tr><!-- far fa-file-pdf -->
					{% endfor %}
				</tbody>
			</table>
		</div>
			</div>
			<div class="col-xl-6 mb-30">
		<div class="pd-20 card-box mb-30">
		<div class="clearfix mb-20">
			<div class="pull-left">
				<h4 class="text-blue h4">Transaction Reports</h4>
			</div>
			<div class="pull-right">
				<a href="{% url 'transactions' %}" class="btn btn-primary btn-sm"> View all &nbsp;<i class="fa fa-arrow-right"></i></a>
			</div>
		</div>
			<table class="data-table table nowrap">
				<thead>
					<tr>
						<th>NO</th>
						<th>USER</th>
						<th>DATE</th>
						<th>STATUS</th>
						<th>DETAILS</th>
					</tr>
				</thead>
				<tbody>
					{% for transaction in transactions %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{transaction.user.firstname}}</td>
						<td>{{transaction.created_at|date:"M d, Y"}}</td>
						<td>
							{% if transaction.status == "pending" %}
								<span style="padding: 7px 12px;" class="alert alert-info">PENDING</span>
							{% elif transaction.status == "declined" %}
								<span style="padding: 7px 12px;" class="alert alert-danger">DECLINED</span>
							{% else %}
								<span style="padding: 7px 12px;" class="alert alert-success">COMPLETED</span>
							{% endif %}
						</td>
						<td><a href="{% url 'transactionsdetails' transaction.pk %}"><i style="font-size: 22px;" class="fa fa-search"></i></a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
	$(document).ready(function(){
		$('#form').on('submit', (e) => {
			e.preventDefault();
			var inp = $('#start');
			// console.log();
			var start = inp.val();
			window.location = `?date=${start}`;
		});
	});
</script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for month in data %}'{{month}}',{% endfor %}],
        datasets: [{
            label: 'CIGARETTECOUNTER',
            data: [{% for month,value in data.items %}'{{value}}',{% endfor %}],
	        backgroundColor: [
	          "#566573",
	          "#99a3a4",
	          "#dc7633",
	          "#f5b041",
	          "#f7dc6f",
	          "#82e0aa",
	          "#73c6b6",
	          "#5dade2",
	          "#a569bd",
	          "#ec7063",
	          "#a5754a",
	          "green",
	        ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}