{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/mainbars.html' %}

<div class="main-container">
    <div class="pd-ltr-20">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Leave a Feedback Message</h3>
                    </div>
                    {% if messages %}
                    <div class="form-group">
                        <div class="col-12">
                            {% for message in messages %}
                            {% if message.tags == "error" %}
                            <div class="alert alert-danger alert-dismissible fade show mb-n4" role="alert" style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% elif message.tags == "success" %}
                            <div class="alert alert-success alert-dismissible fade show mb-n4" role="alert" style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <form method="POST" action="{% url 'manager_feedback' %}">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label>Feedback Title </label>
                                <textarea name="feedback_message" class="form-control" rows="6" placeholder="Feedback Title" required></textarea>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Start Conversation</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Feedback History</h3>
                    </div>
                    <div class="card-body">
                     <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>#ID</th>
                                    <th>Feedback Name</th>
                                    <th>Feedback Reply</th>
                                </tr>
                            </thead>
                            
                            {% for row in feedback_data %}
                               
                               {% if row.user == request.user %}
                                    <tr>
                                        <td>{{ row.id }}</td>
                                        <td>{{ row.name }}</td>
                                        
                                        {% if row.is_closed %}
                                            <td>
                                                <button class="btn btn-danger"><a class="text-white" href="{% url 'feeds' id=row.id %}">Closed</a></button>
                                            </td>
                                        {% else %}
                                            <td>
                                                <button class="btn btn-primary"><a class="text-white" href="{% url 'feeds' id=row.id %}">Reply</a></button>
                                            </td>
                                        {% endif %}
                                            
                                    </tr>
                               {% endif %}
                                   
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Feedback Invitations</h3>
                </div>
                <div class="card-body">
                 <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>#ID</th>
                                <th>Feedback Name</th>
                                <th>Created By</th>
                                <th>Feedback Reply</th>
                            </tr>
                        </thead>
                        
                        {% for row in invites %}
                           
                           {% if row.user == request.user %}
                                <tr>
                                    <td>{{ row.id }}</td>
                                    <td>{{ row.feedback.name }}</td>
                                    <td>{{ row.feedback.user.email }}</td>
                                    {% if row.feedback.is_closed %}
                                        <td>
                                            <button class="btn btn-danger"><a class="text-white" href="{% url 'feeds' id=row.feedback.id %}">Closed</a></button>
                                        </td>
                                    {% else %}
                                        <td>
                                            <button class="btn btn-primary"><a class="text-white" href="{% url 'feeds' id=row.feedback.id %}">Reply</a></button>
                                        </td>
                                    {% endif %}
                                        
                                </tr>
                           {% endif %}
                               
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block js %}{% endblock %}