{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/mainbars.html' %}
<div class="main-container">
    <div class="pd-ltr-20">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Manager Feedback</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Telephone</th>
                                    <th>User Email</th>
                                    <th>Feedback</th>
                                    <!-- <th>Started On</th> -->
                                    <th>Replies</th>
                                </tr>
                            </thead>
                            {% for feedback in feedbacks %}
                            <tbody>
                                <tr>
                                    <td>{{ feedback.id }}</td>
                                    <td>{{ feedback.user.telephone }}</td>
                                    <td>{{ feedback.user.email }}</td>
                                    <!-- <td>{{ feedback.feedback }}</td> -->
                                    <td>{{ feedback.name }}</td>
                                    <td>
                                        <button class="btn btn-primary"><a class="text-white" href="{% url 'feeds' id=feedback.id %}">Reply</a></button>
                                    </td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      <!-- Modal -->
        <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reply Feedback</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Reply to: <b><span id="reply_name"></span></b></p>
                <input type="hidden" id="reply_id" name="reply_id" />
                <textarea class="form-control" rows="5" id="reply_message"></textarea>
            </div>
            <div class="modal-footer">
                {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
                <button type="button" class="btn btn-primary btn-block" id="reply_button">Reply</button>
            </div>
            </div>
        </div>
        </div>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            $(".reply_open_modal").click(function(){
                // Getting Value from Table
                var id = $(this).parents("tr").children("td:eq(0)").text(); //Getting Selected Row ID (Frist Column)
                var email = $(this).parents("tr").children("td:eq(2)").text(); //Getting Selected Name (3rd Column)
                
                // Adding the Value from Table to Modal form
                $("#reply_id").val(id);
                $("#reply_name").text(email);
            });

            $(document).on("click", "#reply_button", function(){
                //Disabling the Button while data is being saved in Server
                $(this).attr("disabled", "disabled")
                $(this).text("Sending Reply...")

                //console.log("SAVE")
                

                var id=$("#reply_id").val();
                var reply=$("#reply_message").val();
                //console.log(student_data);

                // Saving Attendance Data into Database

                $.ajax({
                    url:'{% url 'manager_feedback_message_reply' %}',
                    type:'POST',
                    data:{id:id, reply:reply},
                })

                
                .done(function(response){
                    
                    if(response=="True")
                    {
                        alert("Reply Sent!")
                    }
                    else
                    {
                        alert("Failed to Send Reply!")
                    }
                    location.reload()
                    
                    //console.log(response)
                })

                .fail(function(){
                    alert("Error in Sending Feedback Reply.")
                })

            })

        })
    </script>
{% endblock %}