{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include 'core/mainbars.html' %}
	<div class="main-container">
		{% include 'core/info_messages.html' %}
	<div class="pd-ltr-20">
		<div class="row">
			<div class="col-xl-12 mb-30">
		<div class="pd-20 card-box mb-30">
		<div class="clearfix mb-20">
			<div class="pull-left">
				<h4 class="text-blue h4">Available Stations</h4>
			</div>
			<div class="pull-right">
				<a href="{% url 'index' %}" class="btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i>&nbsp; Go Back</a>
			</div>
		</div>
			<table class="data-table table nowrap">
				<thead>
					<tr>
						<th>NO</th>
						<th>NAME</th>
						<th>DESCRIPTION</th>
						<th>MAC ADDRESS</th>
						<th>ADDRESS</th>
						<th>IP ADDRESS</th>
						<th>STATUS</th>
						{% if request.user.user_type.is_admin %}
						<th>DETAILS</th>
						<th>DELETE</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for station in stations %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{station.name}}</td>
						<td>{{station.description}}</td>
						<td>{{station.macaddress}}</td>
						<td>{{station.address}}</td>
						<td>{{station.ipaddress}}</td>
						<td>
							{% if station.status == "pending" %}
								<span style="padding: 7px 12px;" class="alert alert-info">PENDING</span>
							{% elif station.status == "declined" %}
								<span style="padding: 7px 12px;" class="alert alert-warning">DECLINED</span>
							{% elif station.status == "active" %}
								<span style="padding: 7px 12px;" class="alert alert-success">ACTIVE</span>
							{% elif station.status == "blocked" %}
								<span style="padding: 7px 12px;" class="alert alert-danger">BLOCKED</span>
							{% endif %}
						</td>
						{% if request.user.user_type.is_admin %}
						<td><a href="{% url 'editstation' station.pk %}"><i style="font-size: 22px;" class="fa fa-search"></i></a></td>
						<td style="cursor: pointer;">
							<a href="{% url 'deletestation' station.pk %}"><i style="font-size: 22px;" class="dw dw-delete-3"></i></a>
						</td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		</div>
		</div>
	</div>
	</div>

	<script>
		$(document).on('click', '.confirm-delete', function () {
		  $("#delete_station").attr("caller-id", $(this).attr("id"));
		});

		$(document).on('click', '#confirmDeleteButtonModal', function () {
		  var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
		  window.location = $("#".concat(caller)).attr("href");
		});
	</script>

{% endblock %}